<p-table #dt [value]="people" selectionMode="multiple" [(selection)]="selectedPeople">
  <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All Data" (click)="exportCSV()" style="float:left"></button>
          <button type="button" pButton icon="fa fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>CPF</th>
          <th>Name</th>
          <th>Age</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-person>
      <tr [pSelectableRow]="rowData">
          <td>{{person.cpf}}</td>
          <td>{{person.name}}</td>
          <td>{{person.age}}</td>
      </tr>
  </ng-template>
</p-table>